# .env.example
GEMINI_API_KEY=
GROQ_API_KEY=
UNSPLASH_ACCESS_KEY= o-XEE4sWxW7CpUwXcfgurf_omvLx_VhDyd23qKmrWJo
JWT_SECRET=
SMTP_USER=
SMTP_PASS=
APP_URL=
VITE_API_URL=https://concursos-brasil-backend.onrender.com